.meal{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    margin: 20px;
    padding: 30px;
}
.meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}
.order-container{
    background-color: coral;
}
.order{
    position: sticky;
    top: 0;
}
.order h2{
    text-align: center;
}