*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: burlywood;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.header .heading{
    margin-left: 7rem;
    font-size: 35px;
}
.header nav{
    margin-right: 7rem;
}
.header a{
    margin-left: 3rem;
    text-decoration: none;
}
.header a:hover{
    color: rgb(246, 248, 141);
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.header span{
    color: rgb(220, 20, 20);
}